@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #de0c0c;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfbfb; 
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-main {
  background:  #ededed;
  color: rgb(70, 69, 69);
}

.header-main {
  color: rgb(70, 69, 69);
}


